header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div ul,header div ul li a{
    display: flex;
    gap: 10px;
    align-items: center;
}
header div ul li a span{
    color: #7D8A92;
}
.laeout-start{
    width: 100%;
    height: 100vh;
    background-color: #F7F9FB;
}