.profile {
    display: flex;
    gap: 10px;
}

.navbar-dashbord {
    width: 25%;
    background-color: #F7F9FB;
    box-shadow: 1px 9px 40px -7px #00000033;
    height: 70vh;

}
.content-profile{
    width: 72%;
}
.navbar-dashbord ul{
    margin-top: 20px;
}
.navbar-dashbord ul>a>li{
    padding:  10px;
}
.activ-nav-profil{
    background-color: #69B1E4;
    color: white;
}