/* موبایل متوسط (≥ 480px) */
@media (max-width: 480px) {
    header div ul li a span {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-menu div:nth-child(2) {
        display: block;
    }

    .nav-menu div:first-child {
        position: absolute;
        left: 400px;
        top: 54px;
        background-color: #fff;
        width: 350px;
        height: 90vh;
        box-shadow: 1px 9px 40px -7px #00000033;
        z-index: 5;
        transition: left 0.4s ease;
        /* فقط حرکت */
        opacity: 0;
        /* حالت مخفی */
        pointer-events: none;
        /* غیرقابل کلیک وقتی مخفی */
    }

    /* حالت باز */
    .nav-menu div:first-child.active {
        left: 0px;
        opacity: 1;
        pointer-events: all;
        right: 0;
    }

    /* حالت بستن */
    .nav-menu div:first-child.closing {
        left: 400px;
        opacity: 0;
    }

    .nav-menu div:nth-child(1) ul {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 10px;
    }

    .nav-menu div:nth-child(1) ul li:nth-child(2) {
        margin: 10px auto;
    }


}

/* تبلت کوچک (≥ 768px) */
@media (min-width: 768px) {
    header div ul li a span {
        display: block;
    }

    .nav-menu div:nth-child(2) {
        display: none;
    }

    .nav-menu div:nth-child(1) {
        display: block;
    }

    .nav-menu div:nth-child(1) ul li:nth-child(1) {
        display: none;
    }
}

/* لپ‌تاپ و دسکتاپ متوسط (≥ 1024px) */
@media (min-width: 1024px) {
    .nav-menu div:nth-child(2) {
        display: none;
    }

}

/* دسکتاپ بزرگ (≥ 1280px) */
@media (min-width: 1280px) {}

/* Ultra Wide (≥ 1600px) */
@media (min-width: 1600px) {}