/* موبایل متوسط (≥ 480px) */
@media (max-width: 480px) {
    header div ul li a span {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-menu div:nth-child(2) {
        display: block;
    }

    .nav-menu div:nth-child(1) {
        display: none;
        position: absolute;
        left: 400px;
        top: 54px;
        background-color: rgb(255, 255, 255);
        width: 350px;
        height: 90vh;
        box-shadow: 1px 9px 40px -7px #00000033;
        z-index: 5;
    }

    .nav-menu div:nth-child(1) ul {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 10px;
    }

    .nav-menu div:nth-child(1) ul li:first-child {
        margin: 10px auto;
    }

    .nav-menu div:nth-child(1) ul::before {
    content: "\00D7"; /* ضربدر × */
    font-size: 24px;
    color: #f81100; /* قرمز-نارنجی */
    display: block; /* تا بتواند float بگیرد */
    cursor: pointer;
    margin-left: 0; /* حذف فاصله سمت چپ */
    margin-right: 8px;
    }
}

/* تبلت کوچک (≥ 768px) */
@media (min-width: 768px) {
    header div ul li a span {
        display: block;
    }

    .nav-menu div:nth-child(2) {
        display: none;
    }

    .nav-menu div:nth-child(1) {
        display: block;
    }
}

/* لپ‌تاپ و دسکتاپ متوسط (≥ 1024px) */
@media (min-width: 1024px) {
    .nav-menu div:nth-child(2) {
        display: none;
    }
}

/* دسکتاپ بزرگ (≥ 1280px) */
@media (min-width: 1280px) {}

/* Ultra Wide (≥ 1600px) */
@media (min-width: 1600px) {}